<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veteransos">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="VeteranSOS"
        android:theme="@style/Theme.VeteranSOS">
        <activity android:name=".PanicActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.PanicService" android:foregroundServiceType="location|dataSync" />
    </application>
</manifest>